{% load website_tags static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" href="{% static 'img/favicon.ico' %}">
        <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mamc.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <div id="wrapper">
          {% block header %}
              {% include "includes/header.html" %}
          {% endblock header %}

          {% block main %}
          <main id="main">
            {% block content %}
            {% endblock %}
          </main>
          {% endblock main %}
        </div> <!-- wrapper -->

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock footer %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mamc.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
