{% load website_tags static %}
<footer>
  <div class="back-to-top">
    <a href="#wrapper">Back to Top</a>
  </div>
  <div class="bottom clearfix">
    <div class="bottom-left">
      <!-- Mt. Albert Methodist -->
      <div class="login">
        <a href="/admin/login">Login</a>
      </div>
      <div class="site-by">
        Developed by: <a href="http://linuxsoftware.nz">LinuxSoftware</a>.
      </div>
      <div class="powered-by">
        Powered by: <a href="http://wagtail.io">Wagtail CMS</a>.
      </div>
    </div>
    {% site_map %}
  </div>
  <div class="copyright">
    Content is copyright Mt. Albert Methodist Church, 
    and is licensed as Creative Commons
    <a class="creative-commons"
      href="http://creativecommons.org/licenses/by/4.0/"
      rel="license">CC BY-SA</a> (unless otherwise indicated).
  </div>
</footer>
